body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {

  height: 72px;
  background: darkmagenta;
  color: white;

  /*added*/
  font-weight: 800;
  font-size: 32px;

  display: flex;
  align-items: center;

  /*de asta nu s sigur*/
  padding-left: 15px;
}

.footer {

  height: 72px;
  background: #eee;
  color: darkmagenta;

  /*added*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {

  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {

  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/*added*/
a {

  text-decoration: none;
  color: white;
}

/*added*/
ul {

  list-style-type: none;

  /*de astea de mai jos sa mai vad daca fix asta se vrea*/
  padding-left: 15px;
  padding-top: 15px;
}