body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  /*added*/
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.header {

  height: 72px;
  background: darkmagenta;
  color: white;

  /*added*/
  font-weight: 900;
  font-size: 32px;

  display: flex;
  align-items: center;

  padding-left: 15px;
}

/*added*/
.content {

  display: flex;

  flex: 1;
}

/*added*/
.sidebar {

  flex-shrink: 0;
}

/*added*/
.cards {

  padding: 50px;

  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.footer {

  height: 72px;
  background: #eee;
  color: darkmagenta;

  /*added*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {

  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {

  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;

  /*added*/
  padding: 15px;

  width: 300px;
}

/*added*/
a {

  text-decoration: none;
  color: white;
  font-size: 24px;
}

/*added*/
ul {

  list-style-type: none;

  margin: 0;

  /*de astea de mai jos sa mai vad daca fix asta se vrea*/
  padding-left: 15px;
  padding-top: 15px;
}

/*added*/
li {

  margin-bottom: 16px;
}