body {
  background: #eee;
  font-family: sans-serif;
}

/* <div class="card">
  <h1 class="title">I'm a card</h1>
  <div class="content">I have content inside me..lorem ipsum blah blah blah. Here's some stuff you need to read.</div>
  <div class="button-container">and a <button>BIG BUTTON</button></div>
</div> */

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {

  background: #e3f4ff;
  padding: 7px;
  font-size: 20px;
}

.content {

  background: #e3f4ff;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

  margin-top: 13.4px;
  margin-bottom: 13.4px;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}